".source.php":
    "Allow database query without caching":
        prefix: "wpcs_cache",
        body: "// phpcs:ignore WordPress.DB.DirectDatabaseQuery.NoCaching"
    "No need for nonce verification/CSRF":
        prefix: "wpcs_csrf",
        body: "// phpcs:ignore WordPress.Security.NonceVerification"
    "Allow direct database query":
        prefix: "wpcs_db_call",
        body: "// phpcs:ignore WordPress.Sniffs.DB.DirectDatabaseQuery"
    "Allow use of superglobal":
        prefix: "wpcs_input_var",
        body: "// phpcs:ignore WordPress.Security.EscapeOutput"
    "Allow loose comparison":
        prefix: "wpcs_loose_comparison",
        body: "// phpcs:ignore WordPress.PHP.StrictComparisons.LooseComparison"
    "Allow override WordPress globals":
        prefix: "wpcs_override",
        body: "// phpcs:ignore WordPress.WP.GlobalVariablesOverride"
    "Ignore precision alignment":
        prefix: "wpcs_precision_alignment",
        body: "// phpcs:ignore WordPress.Sniffs.PrecisionAlignment"
    "Allow non-prefixed function/class/variable/constant in the global namespace":
        prefix: "wpcs_prefix",
        body: "// phpcs:ignore WordPress.NamingConventions.PrefixAllGlobals"
    "Allow preparedSQL placeholders vs replacements":
        prefix: "wpcs_preparedsql",
        body: "// WPCS: PreparedSQLPlaceholders replacement count ok."
    "Allow unsanitized code":
        prefix: "wpcs_sanitization",
        body: "// phpcs:ignore WordPress.Security.ValidatedSanitizedInput.InputNotSanitized"
    "Allow slow query":
        prefix: "wpcs_slow_query",
        body: "// phpcs:ignore WordPress.DB.SlowDBQuery"
    "Allow incorrect \"WordPress\" spelling":
        prefix: "wpcs_spelling",
        body: "// phpcs:ignore: WordPress.WP.CapitalPDangit"
    "Allow unprepared SQL query":
        prefix: "wpcs_unprepared_sql",
        body: "// phpcs:ignore WordPress.DB.PreparedSQL.NotPrepared"
    "Allow unescaped code":
        prefix: "wpcs_xss",
        body: "// phpcs:ignore WordPress.Security.EscapeOutput.OutputNotEscaped",
